<?xml version="1.0"?>

<launch>
    <!-- pioneer3dxのGazeboの軌道 -->
    <include file="$(find p3dx_gazebo)/launch/p3dx_gazebo.launch"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find p3dx_gazebo)/launch/pioneer3dx.rviz"/>

    <node name="joy_node" pkg="joy" type="joy_node" output="screen"/>
    <node name="joy2Twist" pkg="p3dx_driver" type="joy2Twist" output="screen"/>

    
</launch>